Source: salt-formula-telegraf
Maintainer: Salt Formulas Community <salt-formulas@freelists.org>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/salt-formulas/salt-formulas
Vcs-Browser: https://github.com/salt-formulas/salt-formula-telegraf
Vcs-Git: https://github.com/salt-formulas/salt-formula-telegraf.git

Package: salt-formula-telegraf
Architecture: all
Depends: ${misc:Depends}
Description: telegraf Salt formula
 Install and configure telegraf monitoring
