{% set agent = salt['grains.filter_by']({
    'Debian': {
      'pkgs': ['telegraf'],
      'file': {
        'config': '/etc/telegraf/telegraf.conf'
      },
      'dir': {
        'config': '/etc/telegraf/telegraf.d'
      },
    },
}, merge=salt['pillar.get']('telegraf:agent')) %}

{%- set service_grains = {'telegraf': {'agent': {'input': {}}}} %}
{%- for service_name, service in pillar.items() %}
  {%- if service.get('_support', {}).get('telegraf', {}).get('enabled', False) %}
    {%- set grains_fragment_file = service_name+'/meta/telegraf.yml' %}
    {%- macro load_grains_file() %}{% include grains_fragment_file ignore missing %}{% endmacro %}
    {%- set grains_yaml = load_grains_file()|load_yaml %}
    {%- if grains_yaml is mapping %}
      {%- set service_grains = salt['grains.filter_by']({'default': service_grains}, merge={'telegraf': grains_yaml}) %}
    {%- endif %}
  {%- endif %}
{%- endfor %}
{%- set service_grains = salt['grains.filter_by']({'default': service_grains}, merge={'telegraf': {'agent': {'input': agent.get('input', {})}}}) %}
